* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  	font-family: '07ロゴたいぷゴシック7';

}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a{
	text-decoration: none;
}

span{
	display:block;
}

body{
	width: 100%;
}

.contents{
	width: 100%;
	height: 570px;
	background-color: #33ccff;
}

header{
	height: 70px;
}

.header-contents {
	width: 90%;
	margin: 0 auto;
}

.header-background{
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	z-index: 3000;
	background-color: #33ccff;
}

.header-logo{
	float: left;
	font-size: 40px;
}

ul{
	margin-bottom: 0;
}

.nav-items{
	float: right;
	margin-right: 100px;
}

.nav-item{
	float: left;
	padding: 0 20px;
	font-size: 16px;
	line-height: 70px;
	list-style: none;
	border-left: solid 1px #fff;
}

.nav-item:nth-child(5){
	border-right: solid 1px #fff;
}

.nav-item a {
	color: #fafafa !important;
	display: inline-block;
	text-decoration: none;
	width: 100%;
}

.nav-item:hover{
	color:black;
	background-color: #87CEFA;
	opacity: 0.8;
}

.img-box{
	width: 100%;
}

.slide-img{
	width: 100%;
	height: 350px;
	background-image: url(img/conversation.jpg);
	background-size: cover;
	background-position: center;
}

.slide-img:nth-child(2){
	background-image: url(img/application.jpg);
}

.slide-img:nth-child(3){
	background-image: url(img/conversation.jpg);
}

.app-box{
	width: 320px;
	height: 100px;
	margin: 0 auto;
}

div .apple{
	width: 150px;
	margin: 0 auto;
	float: left;
	margin-right: 10px;
	border-radius: 10%;
}

div .google{
	width: 150px;
	margin: 0 auto;
	float: left;
	border-radius: 10%;
}


.main{
	width: 100%;
}

#about{
	width: 100%;
	margin: 0 auto;
	padding: 100px 0 50px;
}

.content-head h1{
	text-align: center;
	padding: 55px;
	border-bottom: 3px solid #ec715f;
	padding-bottom: 8px;
}

.aboutcontent{
	width: 90%;
	height: 550px;
	margin: 0 auto;
	text-align: center;
}

.column{
	float: left;
	text-align: center;
	width: 33%;
}

.column:nth-child(2){
	padding: 0 5%;
}

.column-img {
	float: left;
	width: 33%;
	padding: 0 10px;
}

.column-text-above{
	padding: 100px 0 50px;
}


.main2{
	background-color: #eeeeee;
}

#movie{
	width: 90%;
	padding: 55px 0 80px;
	margin: 0 auto;
}

.movie-content{
	text-align: center;
	padding-top: 55px;
}

.movie-content iframe{
	width: 550px;
	height: 300px;
}

.main3{
	background-image: url(img/space.jpg);
	background-size: cover;
	width: 100%;
}

#feature{
	width: 980px;
	margin: 0 auto;
	padding-bottom: 90px;
	color: #fff;
}

.feature-text h1{
	padding: 90px 0 8px;
	border-bottom: 3px solid #ec715f;
	color: #fff;
}

.feature-text p{
	font-size: 16px;
	padding: 30px 0;
	color: #fff;
}

.feature-text{
	text-align: center;
	color: #000000;
}

.feature-box h2{
	padding: 10px 0;
}

.fa, .far{
	font-size: 60px;
}

.feature-box{
	float: left;
	width: 320px;
	height: auto;
	text-align: center;
	background-color: rgba(230,230,230,0.3);
	padding: 20px 0 0 3px;
}

.feature-box:nth-child(-n+2){
	margin-right: 10px;
}

#produce{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 55px;
}

.produce-content{
	text-align: center;
	padding: 55px 0;
}

.main5{
	height: 550px;
	background-color: #eeeeee;
}

#contact{
	width: 70%;
	margin: 0 auto;
}

.contact-content{
	text-align: center;
}

footer{
	width: 100%;
	height: 55px;
}

footer h1{
	font-size: 20px;
	text-align: center;
	line-height: 55px;
}

@media screen and (max-width:768px) {

	body{
		width: 100%;
		height: 550px;
	}

	.contents{
		width: 100%;
		height: 570px;
		background-color: #33ccff;
	}

	header{
		width: 90%;
		height: 70px;
	}

	.header-logo{
		float: left;
	}

	.nav-items{
		display: none;
	}

	.nav-item a {
		color: #fafafa !important;
		display: inline-block;
		width: 100%;
	}

	.nav-item a:hover{
		color:black;
		background-color: #87CEFA;
		text-decoration: none;
		opacity: 0.8;
	}

	.img-box{
		width: 100%;
	}

	.slide-img{
		width: 100%;
		height: 350px;
		background-image: url(img/jobs.jpg);
		background-size: cover;
		background-position: center;
	}

	.slide-img:nth-child(2){
		background-image: url(img/jobs.jpg);
	}

	.slide-img:nth-child(3){
		background-image: url(img/conversation.jpg);
	}

	.app-box{
		width: 50%;
		height: 120px;
		margin: 0 auto;
	}

	div .apple{
		width: 150px;
		margin: 0 auto;
		float: left;
		margin-right: 10px;
		border-radius: 10%;
	}

	div .google{
		width: 150px;
		margin: 0 auto;
		float: left;
		border-radius: 10%;
	}

	.aboutcontent{
		width: 90%;
		height: 1250px;
		margin: 0 auto;
		text-align: center;
	}

	.column{
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 80%;
	}

	.column-img{
				width: 55%;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.column-text-above{
		padding: 100px 0 50px;
	}

	.main2{
		height: 700px;
		background-color: #eeeeee;
	}

	#movie{
		width: 90%;
		height: 500px;
		margin: 0 auto;
	}

	.movie-content iframe{
		width: 500px;
		height: 382px;
		padding: 50px 0;
	}

	.main3{
		background-image: url(img/space.jpg);
		background-size: cover;
		width: 100%;
	}

	#feature{
		width: 90%;
		margin: 0 auto;
		padding-bottom: 90px;
		color: #fff;
	}

	.feature-text h1{
		padding: 90px 0 8px;
		border-bottom: 3px solid #ec715f;
		color: #fff;
	}

	.feature-text p{
		font-size: 16px;
		padding: 30px 0;
		color: #fff;
	}

	.feature-text{
		text-align: center;
		color: #000000;
	}

	.feature-box h2{
		padding: 10px 0;
	}

	.feature-box{
		float: none;
		width: 320px;
		height: auto;
		padding: 20px 15px;
	}

	.feature-box:nth-child(-n+2){
		margin: 20px auto;
	}

	.feature-box:nth-child(3){
		margin: 0 auto;
	}

	#produce{
		width: 90%;
		height: 500px;
		margin: 0 auto;
		padding-bottom: 55px;
	}

	.produce-content{
		text-align: center;
		padding-top: 70px;
	}

	#contact{
		width: 70%;
		margin: 0 auto;
	}
}

	@media screen and (max-width:400px) {

	.contents{
		height: 570px;
	}

	.slide-img{
		height: 250px;
	}

	.aboutcontent{
		width: 90%;
		height: 1500px;
		margin: 0 auto;
		text-align: center;
	}

	 .main2{
	 	height: 550px;
	 }

	.movie-content iframe{
		width: 270px;
		height: 250px;
	}
	.column-img {
		float: none;
		width: 70%;
		padding: 30px 0 10px;
	}

	.feature-box{
		width: 250px;
	}


}